# ── PostgreSQL ─────────────────────────────────────────────────
POSTGRES_DB=sauvibe
POSTGRES_USER=sauvibe
POSTGRES_PASSWORD=sauvibe123

# ── Backend ────────────────────────────────────────────────────
OPENWEATHER_API_KEY=7674c4af7ade4eb88e46f5fafc616044
CHATBOT_API_URL=http://ai:8000

# ── Frontend ───────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_WS_URL=ws://localhost:8080
NEXT_PUBLIC_OPENWEATHER_KEY=7674c4af7ade4eb88e46f5fafc616044
ADMIN_KEY=admin
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dj5f0iy6e
NEXT_PUBLIC_CLOUDINARY_PRESET=sau-vibe-experience

# ── AI Model ───────────────────────────────────────────────────
GOOGLE_API_KEY=AIzaSyCHA8HP5XoarvDjt0TACRmv4sp7iUCFWa4
TAVILY_API_KEY=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

# ── CORS ───────────────────────────────────────────────────────
CORS_ORIGINS=http://localhost:3000
